@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --redcolor : #ff0000;
  --blackcolor : #000000;
  --white-broken : #f8f8f8;
}